<div>
    <h4 class="alert">Listado de Reglas</h4>
</div>

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
    <mat-icon>clear_all</mat-icon>
</button>

<div class="example-container mat-elevation-z8">
  <mat-table #Table [dataSource]="MyDataSource" matSort>
    <!-- For limite_inferior -->
    <ng-container matColumnDef="limiteInfe">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Limite Inferior </mat-header-cell>
      <mat-cell *matCellDef="let regla"> {{regla.limiteInfe}} </mat-cell>
    </ng-container>
    <!-- For limite_superior -->
    <ng-container matColumnDef="limiteSupe">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Limite Superior </mat-header-cell>
        <mat-cell *matCellDef="let regla"> {{regla.limiteSupe}} </mat-cell>
    </ng-container>
    <!-- For nro_documento -->
    <ng-container matColumnDef="mtoEquivPunto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Monto Equivalente </mat-header-cell>
        <mat-cell *matCellDef="let regla"> {{regla.mtoEquivPunto}} </mat-cell>
    </ng-container>
    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let regla">
          <button mat-icon-button [routerLink]="['editar/'+regla.idRegla]">
            <mat-icon  class="icono">edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDeleteRegla(regla.idRegla)" >
          <mat-icon  class="icono">delete</mat-icon>
      </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- To paginate between pages with search -->
  <mat-paginator #paginator [pageSize]="5" >
  </mat-paginator>
</div>
