<div>
  <h4 class="alert">Agregar Regla</h4>
</div>

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Limite Inferior</mat-label>
      <input formControlName = "limiteInfe" matInput placeholder="Limite Inferior" type="number" required id="limiteInfe">
    </mat-form-field></p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Limite Superior</mat-label>
        <input formControlName = "limiteSupe" matInput placeholder="Limite Superior" type="number" required id="limiteSupe">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Monto Equivalente</mat-label>
        <input formControlName = "mtoEquivPunto" matInput placeholder="Monto Equivalente" required type="number">
      </mat-form-field>
    </p>
  </div>
  <button  type="submit" color="dark" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
