<div >
  <h4 class="alert">Reservas</h4>
</div>

<mat-card>
  <mat-card-content>
    <form (ngSubmit)="buscar()">
      <h2>Buscar Reservas</h2>
      <mat-form-field appearance="fill">
        <mat-label>Restaurantes</mat-label>
        <mat-select name="restauranteSeleccionado" [(ngModel)]="restauranteSeleccionado">
          <mat-option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione fecha</mat-label>
        <input matInput name="fecha" [(ngModel)]="fechaSeleccionada" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select [(ngModel)]="clienteSeleccionado" name="clienteSeleccionado">
          <mat-option value="">Seleccione cliente</mat-option>
          <mat-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.nombre}} {{cliente.apellido}} - {{cliente.cedula}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Buscar</button>
    </form>
    <mat-list>
      <mat-list-item *ngFor="let reserva of reservas">{{reserva.mesa.nombre}} - {{reserva.cantidad_solicitada}}</mat-list-item>
     </mat-list>
  </mat-card-content>
</mat-card>
