<div>
  <h4 class="alert">Editar Cliente</h4>
</div>

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->
       <!--  <p>
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input formControlName = "idPersona"  matInput placeholder="ID" disabled>
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p> -->
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input formControlName = "nombre" matInput placeholder="Nombre" type="text" required id="nombre" >
<!--             <mat-icon matSuffix class="icono">person</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input formControlName = "apellido" matInput placeholder="Apellido" type="text" required id="apellido">
<!--             <mat-icon matSuffix class="icono">person</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Nro Documento</mat-label>
            <input formControlName = "ci" matInput placeholder="Nro Documento" required type="number">
<!--             <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo Documento</mat-label>
            <input formControlName = "tipoCi" matInput placeholder="Tipo Documento" required type="text">
<!--             <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Nacionalidad</mat-label>
            <input formControlName = "nacionalidad" matInput placeholder="Nacionalidad" required type="text">
<!--             <mat-icon matSuffix class="icono">person</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName = "email" matInput placeholder="Email" required type="text">
<!--             <mat-icon matSuffix class="icono">email</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input formControlName = "telefono" matInput placeholder="Telefono" required  type="number">
<!--             <mat-icon matSuffix class="icono">phone</mat-icon>
 -->          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Nacimiento</mat-label>
            <input formControlName = "fechaNacimiento" matInput placeholder="Fecha Nacimiento" required type="date">
<!--             <mat-icon matSuffix class="icono">date</mat-icon>
 -->          </mat-form-field>
        </p>
    </div>
    <div class="example-button-row">
        <button mat-raised-button color="accent" style="background: black;color: azure;margin:10px;" (click)="onclickBack()" >Volver</button>
        <button mat-flat-button color="primary" style="background: black;color: azure;margin:10px;"  [disabled]="form.invalid" (click)="onSubmit()">Guardar</button>
    </div>
  </form>
</div>

