<div>
    <h4 class="alert">Listado de Clientes</h4>
</div>


<!-- <mat-card style="top: -30px">
    <form>
      <mat-form-field class="example-full-width">
          <label for="name" style="font-weight:bold">Ingrese el nombre</label>
        <input #cliente matInput type="text" name="cliente"  [(ngModel)]='searchValue' >
      </mat-form-field>
      <button mat-raised-button color="primary"  type="button" (click)="buscarCliente(searchValue)"  style="margin:25px;top:20px;">buscar
        </button>

      <mat-form-field class="example-full-width">
          <label for="name"  style="font-weight:bold">Ingrese el apellido</label>
          <input #apellido matInput type="text" name="apellido" [(ngModel)]='searchValue2'>
        </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="buscarApellido(searchValue2)"  style="margin:25px;top:20px">buscar
        </button>

        <mat-form-field class="example-full-width">
            <label for="name"  style="font-weight:bold">Ingrese la fecha</label>
            <input #cliente matInput type="Date" name="fecha"   [(ngModel)]='searchValue3' >
          </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="buscarFecha(searchValue3)" style="margin:25px;top:20px" >buscar
          </button>

          <button mat-raised-button color="primary" type="button" style="top:20px"  (click)="refresh()" >refrescar
          </button>
    </form>
    &nbsp; &nbsp;

  </mat-card> -->

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
    <mat-icon>person_add</mat-icon>
</button>



<div class="example-container mat-elevation-z8">
    <mat-paginator #paginator [pageSize]="5" >
      </mat-paginator>
  <mat-table #Table [dataSource]="MyDataSource" matSort>
    <!-- For name -->
    <ng-container matColumnDef="idPersona">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.idPersona}} </mat-cell>
     </ng-container>
    <!-- For name -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </mat-cell>
    </ng-container>

    <!-- For lastname -->
    <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.apellido}} </mat-cell>
    </ng-container>
    <!-- For nro_documento -->
    <ng-container matColumnDef="ci">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nro Documento </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.ci}} </mat-cell>
    </ng-container>
    <!-- For horaInicio -->
    <ng-container matColumnDef="tipoCi">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.tipoCi}} </mat-cell>
    </ng-container>

    <!-- For horaFin -->
    <ng-container matColumnDef="nacionalidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nacionalidad </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.nacionalidad}} </mat-cell>
    </ng-container>

    <!-- For sucursalServicio -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.email}} </mat-cell>
    </ng-container>

    <!-- For Empleado -->
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </mat-cell>
    </ng-container>

     <!-- For Empleado -->
     <ng-container matColumnDef="fechaNacimiento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.fechaNacimiento}} </mat-cell>
      </ng-container>

    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let cliente">
          <button mat-icon-button [routerLink]="['editar/'+cliente.idPersona]">
            <mat-icon  class="icono">edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDeleteCliente(cliente.idPersona)" >
          <mat-icon  class="icono">delete</mat-icon>
      </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- To paginate between pages with search -->
  <!-- <mat-paginator #paginator [pageSize]="5" >
  </mat-paginator> -->
</div>
<mat-card style="top: -30px">
    <form>
      <mat-form-field class="example-full-width" >
          <label for="name" style="font-weight:bold">Ingrese el nombre</label>
        <input #cliente matInput type="text" name="cliente"  [(ngModel)]='searchValue' >
      </mat-form-field>
      <button mat-raised-button type="button" (click)="buscarCliente(searchValue)"  style="background: black;color: azure;margin:25px;top:20px;">buscar
        </button>

      <mat-form-field class="example-full-width">
          <label for="name"  style="font-weight:bold">Ingrese el apellido</label>
          <input #apellido matInput type="text" name="apellido" [(ngModel)]='searchValue2'>
        </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="buscarApellido(searchValue2)"   style="background: black;color: azure;margin:25px;top:20px;">buscar
        </button>

        <mat-form-field class="example-full-width">
            <label for="name"  style="font-weight:bold">Ingrese la fecha</label>
            <input #cliente matInput type="Date" name="fecha"   [(ngModel)]='searchValue3' >
          </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="buscarFecha(searchValue3)"  style="background: black;color: azure;margin:25px;top:20px;" >buscar
          </button>

          <button mat-raised-button color="primary" type="button"  style="background: black;color: azure;top:20px;"  (click)="refresh()" >refrescar
          </button>
    </form>
    &nbsp; &nbsp;

  </mat-card>


