table {
    margin: 10px auto;
    width: 80%;
  }

  h2 {
    text-align: left;
    padding-top: 20px;
    margin-inline-start: 50px;
  }
  .natura-button-3{

    height:50px;
    bottom: 10px;

  }
  .example-container {
    position: relative;
    margin: 20px;
  }

  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  /*css para el boton flotante*/
  .fabButton{
    position: fixed;
      bottom: 40px;
      right: 20px;
      z-index: 1;
    }
  /* LOADING ICON STYLING */
  .loading-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 20px;
  }

  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(131, 13, 72);
    animation: lds-grid 1.2s linear infinite;
  }

  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }

  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }

  @keyframes lds-grid {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  .icono{
    width:10px;
    height:18.35px;
    background: rgb(255, 255, 255);
  }

  .alert{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: 10px;
  }



  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-text {
    color: transparent;
  }

