<div >
  <h4 class="alert">Listado de Parametrizacion</h4>
</div>


<!-- <button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
  <mat-icon>person_add</mat-icon>
</button> -->

<div class="example-container mat-elevation-z8">
<mat-table #Table [dataSource]="MyDataSource" matSort>
  <!-- For name -->
  <ng-container matColumnDef="fecIniVal">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>
    <mat-cell *matCellDef="let parametrizacion" type="Date"> {{parametrizacion.fecIniVal}}</mat-cell>
  </ng-container>

  <!-- For lastname -->
  <ng-container matColumnDef="fecFinVal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </mat-header-cell>
      <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.fecFinVal}} </mat-cell>
  </ng-container>
  <!-- For nro_documento -->
  <ng-container matColumnDef="diasDurac">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Duracion </mat-header-cell>
      <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.diasDurac}} </mat-cell>
  </ng-container>

    <!-- For nro_documento -->
    <ng-container matColumnDef="idBolsa">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Bolsa </mat-header-cell>
      <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.idBolsa}} </mat-cell>
  </ng-container>


  <!-- Columna Accion -->
  <ng-container matColumnDef="accion">
    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
    <mat-cell *matCellDef="let parametrizacion">
        <button mat-icon-button [routerLink]="['editar/'+parametrizacion.idVencimiento]">
          <mat-icon  class="icono">edit</mat-icon>
      </button>

      <button mat-icon-button (click)="onDeleteVencimiento(parametrizacion.idVencimiento)" >
        <mat-icon  class="icono">delete</mat-icon>
    </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- To paginate between pages with search -->
<mat-paginator #paginator [pageSize]="5" >
</mat-paginator>
</div>


