<div>
  <h4 class="alert">Bolsa de Puntos</h4>
</div>

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
  <mat-icon>shopping_basket</mat-icon>
</button>

<div class="example-container mat-elevation-z8">
  <!-- To paginate between pages with search -->
  <mat-paginator #paginator [pageSize]="5">
  </mat-paginator>
  <mat-table #Table [dataSource]="MyDataSource" matSort>
    <!-- For name -->
    <ng-container matColumnDef="idCliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let bolsa" type="Date"> {{bolsa.idCliente}}</mat-cell>
    </ng-container>

    <!-- For lastname -->
    <ng-container matColumnDef="fecAsigPunt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Asignación </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.fecAsigPunt}} </mat-cell>
    </ng-container>
    <!-- For nro_documento -->
    <ng-container matColumnDef="fecCadPunt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Caducidad </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.fecCadPunt}} </mat-cell>
    </ng-container>

    <!-- For nro_documento -->
    <ng-container matColumnDef="puntAsig">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje Asignado </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.puntAsig}} </mat-cell>
    </ng-container>

    <!-- For nro_documento -->
    <ng-container matColumnDef="puntajeUtilizado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje Utilizado </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.puntajeUtilizado}} </mat-cell>
    </ng-container>

    <!-- For nro_documento -->
    <ng-container matColumnDef="saldoPuntos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.saldoPuntos}} </mat-cell>
    </ng-container>

    <!-- For nro_documento -->
    <ng-container matColumnDef="montoOpe">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
      <mat-cell *matCellDef="let bolsa"> {{bolsa.montoOpe}} </mat-cell>
    </ng-container>
     <!-- For nro_documento -->
     <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
        <mat-cell *matCellDef="let bolsa"> {{bolsa.estado}} </mat-cell>
      </ng-container>
    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let bolsa">
        <button mat-icon-button [routerLink]="['/parametrizacion/crear/'+bolsa.idBolsa]">
          <mat-icon class="icono">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>

<mat-card style="top: -30px">
  <form>
    <mat-form-field class="example-full-width" style="width: 100px">
      <label for="name" style="font-weight:bold">Id Cliente</label>
      <input #cliente matInput type="text" name="cliente" [(ngModel)]='searchValue'>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="buscarBolsaByClienteId(searchValue)"
    style="background: black;color: azure;margin:20px;top:20px;">buscar
    </button>

    <mat-form-field class="example-full-width" style="width: 100px">
      <label for="name" style="font-weight:bold">Rango1</label>
      <input #apellido matInput type="number" name="apellido" [(ngModel)]='searchValue2'>

    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100px">
      <label for="name" style="font-weight:bold">Rango2</label>
      <input #apellido matInput type="number" name="apellido" [(ngModel)]='searchValue3'>

    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="buscarBolsaByRango(searchValue2,searchValue3)"
    style="background: black;color: azure;margin:25px;top:20px;">buscar
    </button>
    <mat-form-field class="example-full-width" style="width: 100px">
      <label for="name" style="font-weight:bold">X días</label>
      <input #cliente matInput type="number" name="cliente" [(ngModel)]='searchValue4'>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="buscarClienteVenceCDias(searchValue4)"
    style="background: black;color: azure;margin:25px;top:20px;">buscar
    </button>
    <button mat-raised-button [routerLink]="['proceso/'] "color="primary" type="button"  style="background: black;color: azure;margin:25px;top:20px;">proceso
      </button>
      <button mat-raised-button color="primary" type="button"  style="background: black;color: azure;margin:25px;top:20px;" (click)="refresh()">refrescar
        </button>

  </form>
  &nbsp; &nbsp;

</mat-card>
