<div>
  <h4 class="alert">Editar Parametros</h4>
</div>

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Inicio</mat-label>
            <input formControlName = "fecIniVal" matInput placeholder="Fecha Inicio" type="Date" required="fecIniVal">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Fin</mat-label>
            <input formControlName = "fecFinVal" matInput placeholder="Fecha Fin" type="Date" required="fecFinVal">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Duracion</mat-label>
            <input formControlName = "diasDurac" matInput placeholder="Duracion" type="number" required>
          </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width">
              <mat-label>ID Bolsa</mat-label>
              <input formControlName = "idBolsa" matInput placeholder="idBolsa" type="number" [disabled]="true">
            </mat-form-field>
          </p>
    </div>
    <div class="example-button-row">
        <button mat-raised-button  style="background: black;color: azure;margin:10px;" (click)="onclickBack()">Volver</button>
        <button mat-flat-button  style="background: black;color: azure;margin:10px;" (click)="onSubmit()">Guardar</button>
    </div>
  </form>
</div>

