<div>
  <h4 class="alert">Editar Regla</h4>
</div>

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->
        <p>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Limite Inferior</mat-label>
            <input formControlName = "limiteInfe" matInput placeholder="Limite Inferior" type="number" required id="limiteInfe">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Limite Superior</mat-label>
            <input formControlName = "limiteSupe" matInput placeholder="Limite Superior" type="number" required id="limiteSupe">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Monto Equivalente</mat-label>
            <input formControlName = "mtoEquivPunto" matInput placeholder="Monto Equivalente" type="number">
          </mat-form-field>
        </p>
    </div>
    <div class="example-button-row">
        <button mat-raised-button style="background: black;color: azure;margin:10px;" (click)="onclickBack()">Volver</button>
        <button mat-flat-button style="background: black;color: azure;margin:10px;" (click)="onSubmit()">Guardar</button>
    </div>
  </form>
</div>

