<div>
  <h4 class="alert">Crear Bolsas</h4>
</div>

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Cliente</mat-label>

      <mat-select formControlName="idCliente" class="custom-select" >
          <mat-option *ngFor="let cliente of clientes"  [value]="cliente.idPersona">{{ cliente.nombre }}</mat-option>
        </mat-select>


      <mat-icon matSuffix class="icono">edit</mat-icon>
      </mat-form-field>
    </p>
<!--     <p><mat-form-field class="example-full-width">
        <mat-label>Fecha Asignación</mat-label>
        <input formControlName = "fecAsigPunt" matInput placeholder=">Fecha Asignación" type="Date" required="fecAsigPunt">
        <mat-icon matSuffix class="icono">edit</mat-icon>
        </mat-form-field>
      </p>
      <p><mat-form-field class="example-full-width">
          <mat-label>Fecha Caducidad</mat-label>
          <input formControlName = "fecCadPunt" matInput placeholder=">Fecha Caducidad" type="Date" required="fecCadPunt">
          <mat-icon matSuffix class="icono">edit</mat-icon>
          </mat-form-field>
        </p> -->
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Monto Operacion</mat-label>
        <input formControlName = "montoOpe" matInput placeholder="Monto Operacion" type="number" required="montoOpe">
        <mat-icon matSuffix class="icono">attach_money</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <button  type="submit" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
