<div>
    <h4 class="alert">Proceso</h4>
  </div>

  <!-- <button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
    <mat-icon>person_add</mat-icon>
  </button> -->

  <div class="example-container mat-elevation-z8">
    <!-- To paginate between pages with search -->
    <mat-paginator #paginator [pageSize]="5">
    </mat-paginator>
    <mat-table #Table [dataSource]="MyDataSource" matSort>
      <!-- For name -->
      <ng-container matColumnDef="idProceso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id proceso </mat-header-cell>
        <mat-cell *matCellDef="let proceso" type="Date"> {{proceso.idProceso}}</mat-cell>
      </ng-container>

      <!-- For lastname -->
     <!--  <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
        <mat-cell *matCellDef="let proceso"> {{proceso.estado}} </mat-cell>
      </ng-container> -->
      <!-- For nro_documento -->

       <!-- For lastname -->
       <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let proceso" > {{proceso.descripcion}} </mat-cell>
        </ng-container>
        <!-- For nro_documento -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <mat-card style="top: -30px">
      <form>
        <mat-form-field class="example-full-width" style="width: 100px">
            <label for="name" style="font-weight:bold">Correr proceso cada X hs</label>
          <input #cliente matInput type="number" name="cliente"  [(ngModel)]='searchValue' >
        </mat-form-field>
        <button mat-raised-button color="primary"  type="button" (click)="correrProceso(searchValue)"  style="background: black;color: azure;margin:25px;top:20px;">ejecutar
          </button>

          <!-- <mat-form-field class="example-full-width">
              <label for="name" style="font-weight:bold">Detener Proceso</label>
            <input #cliente matInput type="text" name="cliente" >
          </mat-form-field> -->
          <button mat-raised-button color="primary"  type="button" (click)="cancelarProceso()" style="background: rgb(235, 10, 10);color: azure;margin:25px;top:20px;">detener
            </button>

         <!--    <mat-form-field class="example-full-width">
                <label for="name" style="font-weight:bold">Refrescar</label>
              <input #cliente matInput type="text" name="cliente" >
            </mat-form-field> -->
            <button mat-raised-button color="primary"  type="button" (click)="refresh()"  style="background: rgb(7, 40, 224);color: azure;margin:25px;top:20px;right:-550px">refrescar
              </button>

      </form>
      &nbsp; &nbsp;

    </mat-card>



