<div>
    <h4 class="alert">Uso de Puntos</h4>
  </div>

  <!-- <button mat-raised-button class="fabButton natura-button-1" mat-fab color="black" (click)="onclickAgregar()">
    <mat-icon>person_add</mat-icon>
  </button> -->
  <div class="example-container mat-elevation-z8">
    <mat-paginator #paginator [pageSize]="5" >
      </mat-paginator>
     <mat-table #Table [dataSource]="MyDataSource" matSort>
        <!-- For name -->
        <ng-container matColumnDef="idCliente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
           <mat-cell *matCellDef="let cabecera" type="Date"> {{cabecera.idCliente}}</mat-cell>
         </ng-container>

        <!-- For lastname -->
        <ng-container matColumnDef="puntUti">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Puntos Utilizados </mat-header-cell>
            <mat-cell *matCellDef="let cabecera"> {{cabecera.puntUti}} </mat-cell>
       </ng-container>
        <!-- For nro_documento -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let cabecera"> {{cabecera.fecha}} </mat-cell>
        </ng-container>

          <!-- For nro_documento -->
          <ng-container matColumnDef="concepto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </mat-header-cell>
            <mat-cell *matCellDef="let cabecera"> {{cabecera.concepto}} </mat-cell>
        </ng-container>

           <!-- Columna Accion -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

  <!-- To paginate between pages with search -->

    </div>

    <mat-card style="top: -20px">
      <form>
        <mat-form-field class="example-full-width" >
            <label for="name" style="font-weight:bold">Ingrese el id del Cliente</label>
          <input #cliente matInput type="number" name="cliente"  [(ngModel)]='searchValue' >
        </mat-form-field>
        <button mat-raised-button type="button" (click)="buscarCliente(searchValue)"  style="background: black;color: azure;margin:25px;top:20px;">buscar
          </button>

          <mat-form-field class="example-full-width">
            <label for="name"  style="font-weight:bold">Ingrese la fecha</label>
            <input #cliente matInput type="Date" name="fecha"   [(ngModel)]='searchValue2' >
          </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="buscarFechaUso(searchValue2)"  style="background: black;color: azure;margin:25px;top:20px;" >buscar
          </button>

        <mat-form-field class="example-full-width">
            <label for="name"  style="font-weight:bold">Ingrese el concepto</label>
            <input #apellido matInput type="text" name="apellido" [(ngModel)]='searchValue3'>
          </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="buscarConcepto(searchValue3)"   style="background: black;color: azure;margin:25px;top:20px;">buscar
          </button>



            <button mat-raised-button color="primary" type="button"  style="background: black;color: azure;top:20px;"  (click)="refresh()" >refrescar
            </button>
      </form>
      &nbsp; &nbsp;

    </mat-card>





