<div >
  <h4 class="alert">Reservar</h4>
</div>

<mat-card>
  <mat-card-content>
    <form (ngSubmit)="buscarDisponibles()">
      <h2>Buscar Mesas disponibles</h2>
      <mat-form-field appearance="fill">
        <mat-label>Restaurantes</mat-label>
        <mat-select name="restauranteSeleccionado" [(ngModel)]="restauranteSeleccionado">
          <mat-option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione fecha</mat-label>
        <input matInput name="fecha" [(ngModel)]="fechaSeleccionada" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hora</mat-label>
        <mat-select name="horarioSeleccionado" [(ngModel)]="horarioSeleccionado" multiple>
          <mat-option *ngFor="let horario of horarios" value="{{horario.valor}}">{{horario.opcion}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Disponible</button>
    </form>
    <div *ngIf="mostrarReservar">
        <form (ngSubmit)="reservarMesa()">
          <h2>Reservar Mesa</h2>
          <mat-form-field appearance="fill">
            <mat-label>Mesas</mat-label>
            <mat-select [(ngModel)]="mesaSeleccionada" name="mesaSeleccionada">
              <mat-option *ngFor="let mesa of mesasDisponibles" [value]="mesa">{{mesa.nombre}} - {{mesa.capacidad}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cédula</mat-label>
            <input matInput [(ngModel)]="cedula" name="cedula">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="nombre" name="nombre">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput [(ngModel)]="apellido" name="apellido">
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary">Reservar</button>
        </form>
    </div>
  </mat-card-content>
</mat-card>
