<div>
  <h4 class="alert">Editar Concepto</h4>
</div>

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input formControlName = "descripcion" matInput placeholder="Descripcion" type="text" required id="descripcion">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Puntos</mat-label>
            <input formControlName = "puntos" matInput placeholder="Puntos" type="number" required id="puntos">
          </mat-form-field>
        </p>
    </div>
    <div class="example-button-row">
        <button mat-raised-button style="background: black;color: azure;margin:10px;" (click)="onclickBack()" >Volver</button>
        <button mat-flat-button style="background: black;color: azure;margin:10px;" (click)="onSubmit()">Guardar</button>
    </div>
  </form>
</div>

