<div>
  <h4 class="alert">Agregar Cliente</h4>
</div>

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input formControlName = "nombre" matInput placeholder="Nombre" type="text" required id="nombre">
<!--       <mat-icon matSuffix class="icono">person</mat-icon>
 -->    </mat-form-field></p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input formControlName = "apellido" matInput placeholder="Apellido" type="text" required id="apellido">
<!--         <mat-icon matSuffix class="icono">person</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Nro Documento</mat-label>
        <input formControlName = "ci" matInput placeholder="Nro Documento" required type="number">
<!--         <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Tipo Documento</mat-label>
        <input formControlName = "tipoCi" matInput placeholder="Tipo Documento" required type="text">
<!--         <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Nacionalidad</mat-label>
        <input formControlName = "nacionalidad" matInput placeholder="Nacionalidad" required type="text">
<!--         <mat-icon matSuffix class="icono">person</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName = "email" matInput placeholder="Email" required type="text">
<!--         <mat-icon matSuffix class="icono">email</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <input formControlName = "telefono" matInput placeholder="Telefono" required type="number">
<!--         <mat-icon matSuffix class="icono">phone</mat-icon>
 -->      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <label>Fecha Nacimiento</label>
        <input formControlName = "fechaNacimiento" matInput placeholder="" required type="Date">
<!--         <mat-icon matSuffix class="icono">date</mat-icon>
 -->      </mat-form-field>
    </p>
  </div>
  <button  type="submit" color="dark" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
