.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;
    background:rgb(8, 0, 0);
 }

 .barraNavegacion{
    background:dodgerblue;
  }

  .opcion{
    color: rgb(8, 0, 0);
    padding: 70px;
  }

  .opcion:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+0,7b1a52+0,db1943+54,ea5a18+100 */
  background: #f3c5bd; /* Old browsers */
  background: black;
  background:  black;
  background:  black;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ea5a18',GradientType=1 ); /* IE6-9 */
    color: white;

  }

  #titulo{
    color: rgb(8, 0, 0);
  }

  .lista{
    background: dodgerblue;
  }
