<mat-sidenav-container class = "tp-container">
  <mat-sidenav mode = "side" opened class="lista">

      <mat-toolbar class="barraNavegacion"></mat-toolbar>
      <mat-nav-list >
        <a class="opcion" mat-list-item [routerLink] = "['/']">
          <mat-icon aria-label="Side nav toggle icon" >home</mat-icon>
           INICIO</a>
        <a class="opcion" mat-list-item [routerLink] = "['/reservar']">
          <mat-icon aria-label="Side nav toggle icon" >local_mall</mat-icon>
          Reservar</a>
          <a class="opcion" mat-list-item [routerLink] = "['/reservas']">
            <mat-icon aria-label="Side nav toggle icon" >local_mall</mat-icon>
            Reservas</a>
        <!-- <a class="opcion" mat-list-item [routerLink] = "['/cliente']" >
          <mat-icon aria-label="Side nav toggle icon">person</mat-icon>
          CLIENTES</a>
        <a class="opcion" mat-list-item [routerLink] = "['/regla']">
          <mat-icon aria-label="Side nav toggle icon" >clear_all</mat-icon>
          REGLAS</a>
        <a class="opcion" mat-list-item [routerLink] = "['/concepto']">
          <mat-icon aria-label="Side nav toggle icon" >local_mall</mat-icon>
          CONCEPTOS</a>
        <a class="opcion" mat-list-item [routerLink] = "['/parametrizacion']">
          <mat-icon aria-label="Side nav toggle icon" >today</mat-icon>
          PARAMETRIZACION</a>
        <a class="opcion" mat-list-item [routerLink] = "['/bolsa']">
          <mat-icon aria-label="Side nav toggle icon" >shopping_basket</mat-icon>
          BOLSA DE PUNTOS</a>
        <a class="opcion" mat-list-item [routerLink] = "['/uso']">
            <mat-icon aria-label="Side nav toggle icon">shopping_cart</mat-icon>
          USO DE PUNTOS</a>
        <a class="opcion" mat-list-item [routerLink] = "['/cabecera']">
          <mat-icon aria-label="Side nav toggle icon">card_giftcard</mat-icon>
        USAR VALES</a> -->
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="barraNavegacion">
         <!--  <button class="opcion"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button> -->
          <span id="titulo">Reservas</span>
        </mat-toolbar>
        <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
