<div>
  <h4 class="alert">Crear Parametros</h4>
</div>

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
      <p><mat-form-field class="example-full-width">
          <mat-label>ID Bolsa</mat-label>
          <input formControlName = "idBolsa" matInput placeholder="ID BOLSA" type="number" required ="idBolsa">
          <mat-icon matSuffix class="icono">date</mat-icon>
        </mat-form-field></p>
    <p><mat-form-field class="example-full-width">
      <mat-label>Fecha Inicio</mat-label>
      <input formControlName = "fecIniVal" matInput placeholder="Fecha Inicio" type="Date" required ="fecIniVal">
      <mat-icon matSuffix class="icono">date</mat-icon>
    </mat-form-field></p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Fin</mat-label>
        <input formControlName = "fecFinVal" matInput placeholder="Fecha Fin" type="Date" required="fecFinVal">
        <mat-icon matSuffix class="icono">date</mat-icon>
      </mat-form-field>
    </p>
    <!-- <p>
      <mat-form-field class="example-full-width">
        <mat-label>Duracion</mat-label>
        <input formControlName = "diasDurac" matInput placeholder="Duracion" type="number" required>
        <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
      </mat-form-field>
    </p> -->
    </div>
  <button  type="submit" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
