

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 70%;
    margin: 10px;
  }
/*css para el boton flotante*/
.fabButton{
    position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 1;
    }