<div>
  <h4 class="alert">Crear Concepto</h4>
</div>

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input formControlName = "descripcion" matInput placeholder="Descripcion" type="text" required="descripcion">
    </mat-form-field></p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Puntos</mat-label>
        <input formControlName = "puntosReq" matInput placeholder="Puntos" type="number" required="puntosReq">
      </mat-form-field>
    </p>

  </div>
  <button  type="submit" color="dark" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
